'.text.html':
    'Userlite Menu':
        'prefix':'ul_menu'
        'body':'<!-- usl_menu:${1:Head} Menu -->$2'
    'Preview Span':
        'prefix':'previewspanlink'
        'body':'<span class="hf_auto" onclick="$2 return false;">\n\t<span class="scTitle">${1:Preview}</span>\n</span>$3'
    'Image Background CSS':
        'prefix':'imagecss'
        'body':'background-image:url(\'<?php echo $app->lite->cdnImage(\'_bw/user.png\', \'maxD_100\'); ?>\');\nbackground-size:contain;\nbackground-repeat:no-repeat;\nbackground-position:center center;'
    'Delete Confirmation Toggle':
        'prefix':'delete_toggle'
        'body':"""<div class="alert alert-danger deleteToggle" id="deleteValidate" style="display: none;">
                <p>
                    <b>Are you sure you want to delete this ${1:lesson}?</b>
                </p>
                <p>
                    <button type="button" onclick="this.blur(); hFrag.xAjax('','mods/${1:lesson}/action.ajx?action=delete','deleteValidate');" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-default" onclick="$('.deleteToggle').toggle();">Cancel</button>
                </p>
            </div>

            ${2:<button class="btn btn-default deleteToggle " onclick="$('.deleteToggle').toggle();">
                Delete
            </button>}$3"""
