'.source.js':
    'Comment':
        'prefix':'c'
        'body':'/* $1 */'
    'hFrag Ajax URL':
        'prefix':'ajax_url'
        'body':'hFrag.xAjaxURL(\'${1:mods/language_lesson/action.ajx?action=config}\')$2'
    'Console Log':
        'prefix':'log'
        'body':'console.log(${1:stateUpdate});$2'
    'Console Log with Comment':
        'prefix':'logm'
        'body':'console.log(\'${2:${1:stateUpdate}}\', ${1:stateUpdate});$3'
    'Console Log JSON':
        'prefix':'logj'
        'body':'console.log(JSON.stringify(${1:stateUpdate}, null, 4));$2'
    'Console Log JSON with Message':
        'prefix':'logjm'
        'body':'console.log(${2:\'${1:stateUpdate}\', }JSON.stringify(${1:stateUpdate}, null, 4));$3'

    'Filter Object Keys':
        'prefix':'fn_filter_keys'
        'body':"""function filterKeys(ob, search) {
            search = search.toLowerCase();
            var results = Object.keys(ob).filter(function(key){
                return key.toLowerCase().indexOf(search) >= 0;
            });

            console.log(JSON.stringify(results, null, 4));
        }"""

    'Search Queue':
      'prefix': 'queue_search'
      'body': """var inputFields = $('#${1:mainHeaderSearch}');

            var search = {
                execute: function(){
                    search.needsUpdate = true;
                    search.checkAndLaunch();
                },
                checkAndLaunch: function() {
                    if (!this.isUpdating && this.queue.length > 0) {

                        this.isUpdating = true;
                        var term = this.queue.pop();
                        this.queue = [];

                        hFrag.xAjax('', 'mods/${3:start/instances}/${2:instance_results}.ajx?terms=' + term, '${2:instance_results}');

                    }
                },
                queue: [],
                isUpdating: false,
            };

            inputFields.on('keyup', function(event) {

                var term = $(this).val().toLowerCase();
                search.queue.push(term);
                search.execute();

            });

            search.queue.push('');
            search.execute();${4:

            search.isUpdating = false;
            search.checkAndLaunch();}"""
    'Ajax Update Queue':
        'prefix':'queue_updates'
        'body':'var inputFields = $(\'${1:.various_input, .field_selectors}\');\n\nvar update = {\n\texecute: function() {\n\t\tif (!this.isUpdating && this.queue.length > 0) {\n\t\t\t\n\t\t\tthis.isUpdating = true;\n\t\t\tvar term = this.queue.pop();\n\t\t\tthis.queue = [];\n\n\t\t\thFrag.xAjax(\'\', \'${3:mods}/${2:results_div_id}.ajx?action=update\', \'xRec\', \'${4:formMain}\');\n\n\t\t}\n\t},\n\tqueue: [],\n\tisUpdating: false,\n};\n\ninputFields.on(\'keyup\', function(event) {\n\n\tvar term = jQuery(this).val().toLowerCase();\n\tupdate.queue.push(term);\n\tupdate.execute();\n\n});\n\n${5:update.isUpdating = false;\nupdate.execute();\n}$6'
    'Ajax Search':
        'prefix':'db_search'
        'body':"""var searchField = $('${1:#mainHeaderSearch}');

            searchField.focus();

            var search = {
            	execute: function() {
            		if (!this.isUpdating && this.queue.length > 0) {

            			this.isUpdating = true;
            			var term = this.queue.pop();
            			this.queue = [];

            			this.request(term);

            		}
            	},
            	request: function(term){
            		hFrag.xAjax('', 'mods/${3:start/giftcards}/${2:search_results}.ajx?filter=' + encodeURIComponent(term), '${2:search_results}');
            	},
            	queue: [],
            	isUpdating: false,
            };

            searchField.on('keyup', function(event) {

            	var term = jQuery(this).val().toLowerCase();

            	if (term.length > 1) {
            		search.queue.push(term);
            		search.execute();
            	}

            });

            ${4:search.isUpdating = false;
            search.execute();
            }search.request('');"""
    'Ajax Queue Form':
        'prefix':'queue_form'
        'body':"""var inputFields = $('${1:.various_input, .field_selectors}');

            var search = {
            	needsUpdate: false,
            	isUpdating: false,
            	execute: function(){
            		updateConfig.needsUpdate = true;
            		updateConfig.checkAndLaunch();
            	},
            	checkAndLaunch: function() {
            		if (!this.isUpdating && this.needsUpdate) {

            			this.isUpdating = true;
            			this.needsUpdate = false;

            			hFrag.xAjax('', 'mods/${3:start/sessions}/${2:search_results}.ajx', '${2:search_results}', '${4:formMain}');

            		}
            	},
            };

            inputFields.on('keyup', search.execute);

            ${5:search.queue.push('');
            search.execute();}"""
    'Tiny Sort':
        'prefix':'tinysort'
        'body':"var curSort = 'asc';\n\nfunction sortCols(pxBy) {\n\n\ttinysort('tr.dataRow', {\n\t\tselector: pxBy,\n\t\torder: curSort\n\t});\n\n\tif (curSort == 'asc') {\n\t\tcurSort = 'desc';\n\t} else {\n\t\tcurSort = 'asc';\n\t}\n}${1: onclick=\"sortCols('.category');\"}"
