'atom-text-editor:not([mini])':
    'cmd-alt-backspace': 'editor:delete-line'
'body':
    'cmd-q': 'core:save'
    'cmd-q cmd-q': 'application:quit'
    'cmd-shift-w': 'core:save'
    'cmd-shift-w cmd-shift-w': 'window:close'
    'cmd-;': 'userlite-snippets:insert-arrow'
    'cmd-alt-;': 'userlite-snippets:insert-fat-arrow'
    'cmd-alt-m': 'bracket-matcher:select-inside-brackets'
